<div class="normalheader small-header">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-down"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="/">Dashboard</a></li>
                    <li>
                        <span>Tables</span>
                    </li>
                    <li class="active">
                        <span>FooTable</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                FooTable
            </h2>
            <small>Advanced interaction controls to any HTML table</small>
        </div>
    </div>
</div>